<footer id="footer" class="footer">
  <div class="container">
    <div class="row py-9 py-lg-14 justify-content-lg-between align-items-center">
      <div class="col-12 col-lg-auto mb-9 mb-lg-0">
        <div class="text-center text-lg-start">
          <a href="/index.html" class="d-block mb-6"><img src="/assets/images/footer-logo.png" class="img-fluid" alt="Index"></a>
          <p class="text-primary-700 mb-6">
            若有數位產品設計和開發相關問題<br>歡迎填寫表單，或直接與我聯絡！
          </p>
          <p class="fs-lg-5 lh-xs text-primary-500">service@hexschool.com</p>
        </div>
      </div>
      <div class="col-12 col-lg-auto">
        <ul class="footer-social-link list-unstyled mb-0">
          <li class="mb-6"><a href="javascript:;" class="d-flex align-items-center border border-primary-400 rounded-3 overflow-hidden text-primary-700 bg-white fs-5 py-2 py-lg-1 px-6 ms-auto me-auto ms-lg-auto bg-black-hover text-white-hover" style="width: 306px;"><span class="icon mail d-block w-11 h-11 me-1">mail</span>填寫表單</a></li>
          <li class="mb-6"><a href="javascript:;" class="d-flex align-items-center border border-primary-400 rounded-3 overflow-hidden text-primary-700 bg-white fs-5 py-2 py-lg-1 px-6 ms-auto me-auto ms-lg-auto bg-black-hover text-white-hover" style="width: 306px;"><span class="icon ig d-block w-11 h-11 me-1">IG</span>hexschool_demo</a></li>
          <li class="mb-6"><a href="javascript:;" class="d-flex align-items-center border border-primary-400 rounded-3 overflow-hidden text-primary-700 bg-white fs-5 py-2 py-lg-1 px-6 ms-auto me-auto ms-lg-auto bg-black-hover text-white-hover" style="width: 306px;"><span class="icon fb d-block w-11 h-11 me-1">FackBook</span>hexschoolTW</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>