<header id="header" class="header">
	<div class="border-bottom border-1">
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<h1><a class="navbar-brand d-block py-lg-7" href="#"><img src="../assets/images/logo.png" alt=""></a></h1>

				<button class="navbar-toggler border-0 p-2" data-bs-toggle="offcanvas" href="#mainNav" role="button" aria-controls="mainNav"><span class="navbar-toggler-icon w-9 h-9"></span></button>

				<div class="offcanvas offcanvas-top top-56px top-lg-0"  data-bs-backdrop="static" tabindex="-1" id="mainNav" aria-labelledby="mainNav-header">
					<div class="offcanvas-body mx-auto px-0 py-9 p-lg-0 border-top border-1 border-lg-0 w-100 w-lg-auto">
						<div class="mx-auto">
							<ul class="navbar-nav text-center">
								<li class="nav-item mx-5 mb-6 mb-lg-0">
									<a class="nav-link active position-relative d-inline-block fw-semibold text-black fw-bold-hover text-center py-1 px-2 fs-5 fs-lg-6" href="#"><span class="d-block">首頁</span></a>
								</li>
								<li class="nav-item mx-5 mb-6 mb-lg-0">
									<a class="nav-link position-relative d-inline-block fw-semibold text-black fw-bold-hover text-center py-1 px-2 fs-5 fs-lg-6" href="#"><span class="d-block">作品集</span></a>
								</li>
								<li class="nav-item mx-5 mb-6 mb-lg-0">
									<a class="nav-link position-relative d-inline-block fw-semibold text-black fw-bold-hover text-center py-1 px-2 fs-5 fs-lg-6" href="#"><span class="d-block"></span>服務項目</span></a>
								</li>
								<li class="nav-item mx-5 mb-6 mb-lg-0">
									<a class="nav-link position-relative d-inline-block fw-semibold text-black fw-bold-hover text-center py-1 px-2 fs-5 fs-lg-6" href="#"><span class="d-block"></span>部落格</span></a>
								</li>
								<li class="nav-item mx-5">
									<a class="nav-link position-relative d-inline-block fw-semibold text-black fw-bold-hover text-center py-1 px-2 fs-5 fs-lg-6" href="#"><span class="d-block"></span>聯絡我</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>